@charset "utf-8";
*{
	font-family: "Microsoft YaHei";
	/*font-family:Cambria;*/
	margin:0px;
	padding:0px;
	font-size: 14px;
}
h1{
	font-size: 30px;
}
a{
	text-decoration: none;
	color: #888;
}
body{
	background: #F9F9F9;
}
.top{
	height: 26px;
	background: #F2F2F2;
}
.main{
	width: 1200px;
	margin:0 auto;
	line-height: 26px;
	color: #888;
}
.main-left{
	float: left;
}
.main-right{
	float: right;
}
.main-right .ceo{
	color: #c00;
}
.main-right .shouji{
	background: #c00;
	color: #fff;
	padding: 0 5px;
	border-radius: 5px;
}
.main-left span,.main-left a{
	margin-right: 5px;
}
.main-right span,.main-right a{
	margin-left: 5px;
}
.banner{
	width:1366px;
	overflow:hidden;
}
.banner img{
	display:block;
	margin-left: -300px;
}

.header{
	height: 125px;
	background: rgb(255,255,255);/*没有加背景图片*/

}

.logo{
	float: left;
	margin-top: 30px;
}

.adv{
	float: left;
	margin-top: 30px;
	margin-left: 15px;
}

.youhui{
	float: right;
	height: 65px;
	margin-top: 30px;
	margin-left: 15px;
}


.ppt{
	width: 1200px;
	margin:0 auto;
}


/*左侧导航*/
.ppt .div1{
	height: 50px;
	overflow: hidden;
	background: #CE171F;
	/*color: #fff;*/
}
.ppt .div1 ul{
	width: 1200px;
	margin:0 auto;
	list-style: none;/*去掉小黑点*/
}

.ppt .div1 ul li{
	padding-top: 4px;
	padding-left:40px;
	font-weight: bold;
	font-size: 20px;
	float: left;/*浮动*/
	line-height: 40px; /*文字向下移动40px;*/
	margin-left:40px;/*文字间距15px;*/
	cursor: pointer;
	color: #fff;
}
.ppt .div1 ul li a{color:#fff;}
.ppt .banner{
	background: #ce171f;
	width: 150px;
	text-align: center;/*文字剧中‘全部商品’*/
	margin-left: 0px!important;/*!important提高优先级*/
}
.ppt .div2{
	width: 1200px;
	height: 470px;
	/*background: #ccc;*/
	margin:0 auto;
	/*opacity: 0.2;/*透明度；*/
	position: relative;
	/*overflow-x: hidden;/*x轴上不让超出不出现滚动条*/*/
}

.ppt .div3{
	width: 100%;
	background: #fff;
	border-left: 1px solid #ccc;
	border-bottom:1px solid #ccc; /*整个来个右下角边框1px颜色灰色*/
}
.ppt .div3 ul{
	list-style: none;/*去掉前面的小点*/
	float: left;
	width: 260px
}
.ppt .div3 ul li{
	color:#EB1F1E;
	padding-left: 10px;/*向右移动15px*/
	line-height: 28px;/*字与字的行高20px*/
}
.ppt .div3 ul li:last-child{
	border-bottom: none;
}

.ppt .div3 ul li.hover, .ppt .div3 ul.lev2 li:hover{
	background: #ccc;
	cursor:pointer;
}
.ppt .div3 ul.lev1 a{color:#888;}
.ppt span.cnt{font-size:12px;}
.ppt .right{
	width: 400px;
	height: 376px;
	background: #eee;
	position: absolute;
	top: 0px;
	left: 200px;
	/*padding: 15px;*/
	color: #000;
	display: none;
	z-index: 2;
}
.ppt .info{
	width: 1200px;
	background: #ccc;
	margin:0 auto;
}


/*幻灯片样式*/
.main .carousel{
	height: 376px;
	width: 939px;
	float: right;
	background: #f9f9f9;
}


.main .carousel{
	position: relative;
}
.main .carousel .window {
	height:360px;
	width: 939px;
	overflow: hidden;
	position: relative;	
}
.main .carousel .image_reel{
	position: absolute;
	top: 0px; 
	left: 0px;
}
.main .carousel .image_reel img{
	float:left;
}
.main .carousel .paging {
	position: absolute;
	width: 150px;
	height: 50px;
	bottom: 0px;
	right: 50%;
	margin-right: -75px;
	z-index: 1;
	text-align: center;
	line-height: 40px;
	/*display: none;*/
}
.main .carousel .paging a{
	padding:0px 0px;
	text-decoration: none;
	color: #FF3D00;
}
.main .carousel .paging a.active{
	font-weight: bold;

}
.main .carousel .paging a{
	border-radius: 70%;
}

/*右侧导航*/

.right-ads img{
	display: block;
}

.nav1{
	/*display: inline-block;//小图片宽高*/
	width: 14px;
	height:20px;
	margin-right: 10px;
	vertical-align:middle;
}



.menu .div3 li.left-menu:hover{
	border-left: 2px solid #E0E0E0;
	cursor:pointer;/*鼠标一划变成小手*/

}

.ppt .div3 .right-left{
	width:400px;
	height:360px;
	padding-right:  20px;/*拉开距离*/
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	float: left;
	background: #fff;
	position: relative;
}
.ppt .div3 .right-left .active{
		margin-right: 30px;


}
.ppt .div3 .right-left a{
		margin-right: 10px;
}
.ppt .div3 .right-left .menuBottom{
		background: #eee;
		width:100px;
		height:360px;
		float: left;
		position:absolute;
		z-index: 2;
}
.ppt .div3 .right-left .menuItemTitle{
	float: left;
	width: 100px;
	text-align: center;
	
}
.ppt .div3 .right-left .menuItemCon{
	float:left;
	width: 280px;
	border-bottom: 1px dotted  #ccc;/*家线条和颜色*/
	margin-left: 40px;

}
.ppt .div3 .right-left .menuItemCon a{
	display:inline-block;
}
.ppt .div3 .right-left .menuRight{
	position: absolute;
	z-index: 3;
}
.ppt .div3 .right-right{
	width:220px;
	height:360px;
	float: left;
}

.ppt .div3 .right-right img{
	display: block; /*防边距5px*/
	
}
.content{
	margin-top: 10px;
}
.indexTabBox{
	float: left;
	width: 920px;
}

.indexTabSize{
	float:left;
}
.indexTabCon ul li{
	margin-right:40px;
}
.indexTabBoxTop{
	height: 41px;
	/*background: #faa;*/
}

.indexTabBoxBottom{
	height: 460px;
	background: #fff;
}

.indexTabBoxBottom .indexTabCon{
	width: 910px;
	/*height: 442px;*/
	padding-top:50px;
	margin:0px 4px;
	padding: 10px 0px;
	display: none;/*隐藏*/

}

.indexTabBoxBottom .indexTabCon ul{
	list-style: none;/*去掉小点*/

}

.indexTabBoxBottom .indexTabCon ul li{
	float: left;
	width:182px;
	margin-top: 30px;

}

.indexTabBoxBottom .indexTabCon .indexTabPic{
	text-align: center;
	position: relative;
	width: 160px;
	padding: 0 11px;
}


.indexTabBoxBottom .indexTabTit{
	width: 190px;
	height: 35px;
	line-height: 18px;
	white-space: nowrap;/*变成一行*/
	overflow: hidden;
	text-align: center;
	margin-left:5px;
	/*//text-overflow:ellipsis;/*变成小...*/*/
	
}
.indexTabBoxBottom .indexTabTit a{
	font-size: 18px;
}

.indexTabBoxBottom .buy{
	color:#f33511;
	font-weight: bold;
	font-size: 16px;
	padding-left:90px;
}

.indexTabBoxBottom .indexTabPrice{
	color: #f33511;
	font-size: 16px;
	padding-left:120px;
	padding-top:10px;
	font-weight: bold;
}

.indexTabBoxTop ul{
	list-style: none;/*去掉小点*/
}

.indexTabBoxTop ul li{
	float: left;
	width: 203px;
	line-height: 38px; /*行高38px;*/
	color: #666;
	font-size: 16px;
	text-align: center;/*文字居中*/
	background: #f9f9f9;
	border: 1px solid #ececec;/*边框*/
	border-top-width: 2px; /*顶部边框*/
}

.indexTabBoxTop ul li.active{
	background: #fff;
	cursor: pointer;/*变小手*/
	color: #c00;
	border-top-color: #c00;/*边框颜色*/
}

.indexTabBoxTop .n5{
	width: 178px;
}

.indexTabRight{
	float: right;
	width: 270px;
}


/*indexTabNew ---unset*/
.index2{
	width: 300px;
	margin-right:30px;
	margin-left:-5px;
	margin-top:5px;
	border:2px solid #ED0304;
	height: 345px;
/*	border:2px solid #fff;*/
}

.index4{
	width: 300px;
	margin-right:30px;
	margin-left:-5px;
	margin-top:30px;
	border:2px solid #ED0304;
	height: 345px;
/*	border:2px solid #fff;*/
}

.indexTabNew{
	height: 300px;
	/*background: #ccc;*/
}


.indexAdFocus{
	margin-top: 10px;
	height: 178px;
	background: #ccc;
}

.indexTabRight .indexTabNewNav{
	height: 35px;
}

.indexTabRight .indexTabNewNav ul{
	list-style: none;
}
.indexTabRight .indexTabNewNav ul li{
	float: left;
	width: 133px;
	height: 38px;
	text-align: center;
	border: 1px solid #ececec;
	border-top-width: 2px;
	font-size: 16px;
	line-height: 38px;
	color: #666;
	background: #F9F9F9;
	cursor: pointer;
}

.indexTabRight .indexTabNewNav ul li.active{
	border-top-color:#c00;
	background: #fff;
	cursor: pointer;
	color: #c00;

}
.TabPic2 p{
	text-align: center;
	font-family: Courier New;
	margin-top: 15px;
	color: #ED0304;
	font-weight: bold;
	font-size: 30px
}

.TablePic3 p{
	color:#ED0304;
	font-size: 16px;
	margin-left:20px;

}

.search{
	float: left;
	margin-left:220px;
	height: 22px;
	border:none;
	margin-top:7px;
	position: relative;

}

.left-menu{
	background-image: url(../img/cd.jpg);
	z-index: 99;
}
.search2{
	padding-right:10px; 
	border-radius:5px;
	background-position: 140px 5px;
	background-repeat: no-repeat;
	color:#888;
	padding: 2px 5px;
	width: 250px;
	line-height: 24px;
}
input.icon-search {
    position: absolute;
    right: 0;
    bottom: -5px;
    background: url(../img/ser.jpg) 5px 4px no-repeat;
    background-repeat: no-repeat;
    color: #ccc;
    width: 25px;
    border: 0;
    height: 25px;
    cursor: pointer;
}
.TabPrice2 p{
	padding-left:200px;
	color:#ED0304;
	font-size: 17px;
	font-weight: bold;

}
.buy2{
	padding-left: 200px;
	color:#ED0304;
	font-weight: bold;
	font-size:17px;
}

.indexTabRight .indexTabNewCon{
	height: 105px;
	background: #fff;
	display: none;
}

.indexTabRight .indexTabNewCon ul{
	list-style: none;
}

.indexTabRight .indexTabNewCon ul li{
	float: left;
	width: 135px;
	text-align: center;
	line-height: 28px;
	margin-top:5px;
}

.indexTabRight .indexTabNewCon ul li a:hover{
	text-decoration: underline;/*添加下划线*/
	color: #c66;
	cursor: pointer;
}

.footer{
	width: 1200px;
	height: 150px;
	background-color: #ccc;
}

.footer div{
	padding-top:20px;
	padding-left:40px;
	color: #3A3A3A;
}
.footer div h4{
	font-weight: bold;
	margin-bottom: 10px;
}
.footer p{line-height: 26px}
.clear {
    clear: both;
    line-height: 0;
    height: 0;
    display: block;
}
.saveonmany .gh-tbl, .saveonmany .tb_v4bc{width:1200px;margin: 0 auto}
.saveonmany #gh-top{width: 1200px;left: 50%;margin-left: -600px}
/* .indexTabBox table{display: block;}
.indexTabBox tr{width:100%}
.indexTabBox>table {float: left;border: 1px solid #ccc;box-shadow: 2px 2px 3px #ccc; margin-right: 15px;margin-bottom: 15px;width: 205px;}
.indexTabBox .ttl.g-std {margin-bottom: 5px;line-height: 20px;}
.indexTabBox .bin.g-b{color: #f33511;text-align:right;font-weight: bold;}
.indexTabBox tbody{width: 100px;}
.indexTabBox table .fixed img{margin-top: 8px;}
.indexTabBox table .alert{color: #f33511;font-weight: bold;}
.indexTabBox table .image{margin:0 auto} */

.indexTabRight table.gallery table.fixed div.time2{padding-right:0;}
.indexTabRight table.v4midBox tr.v4acp_mid td.v4mid{padding:5px 5px 5px 10px;}
.indexTabRight table.v4ilistlr td.picture{display: block;height:auto;}
.indexTabRight table.v4ilistlr td.details{display: block}
.saveonmany .bin.g-b, .saveonmany .bid.g-b{color:#f00;}
/*css slider*/
.csslider {
  -moz-perspective: 1300px;
  -ms-perspective: 1300px;
  -webkit-perspective: 1300px;
  perspective: 1300px;
  display: inline-block;
  text-align: left;
  position: relative;
  margin-bottom: 22px;
}
.csslider > input {
  display: none;
}
.csslider > input:nth-of-type(10):checked ~ ul li:first-of-type {
  margin-left: -900%;
}
.csslider > input:nth-of-type(9):checked ~ ul li:first-of-type {
  margin-left: -800%;
}
.csslider > input:nth-of-type(8):checked ~ ul li:first-of-type {
  margin-left: -700%;
}
.csslider > input:nth-of-type(7):checked ~ ul li:first-of-type {
  margin-left: -600%;
}
.csslider > input:nth-of-type(6):checked ~ ul li:first-of-type {
  margin-left: -500%;
}
.csslider > input:nth-of-type(5):checked ~ ul li:first-of-type {
  margin-left: -400%;
}
.csslider > input:nth-of-type(4):checked ~ ul li:first-of-type {
  margin-left: -300%;
}
.csslider > input:nth-of-type(3):checked ~ ul li:first-of-type {
  margin-left: -200%;
}
.csslider > input:nth-of-type(2):checked ~ ul li:first-of-type {
  margin-left: -100%;
}
.csslider > input:nth-of-type(1):checked ~ ul li:first-of-type {
  margin-left: 0%;
}
.ppt .div3 .csslider > ul {
  position: relative;
  width: 939px;
  z-index: 1;
  font-size: 0;
  line-height: 0;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ppt .div3 .csslider > ul > li {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 15px;
  font-size: initial;
  line-height: normal;
  -moz-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: normal;
  border: 0;
  padding-left: 0;
}
.csslider > ul > li.scrollable {
  overflow-y: scroll;
}
.csslider > .navigation {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 10;
  margin-bottom: -10px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.csslider > .navigation > div {
  margin-left: -100%;
}
.csslider > .navigation label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 4px;
  padding: 4px;
  background: #3A3A3A;
}
.csslider > .navigation label:hover:after {
  opacity: 1;
}
.csslider > .navigation label:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -6px;
  margin-top: -6px;
  background: #71ad37;
  border-radius: 50%;
  padding: 6px;
  opacity: 0;
}
.csslider > .arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.csslider.inside .navigation {
  bottom: 10px;
  margin-bottom: 10px;
}
.csslider.inside .navigation label {
  border: 1px solid #7e7e7e;
}
.csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1):after,
.csslider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2):after,
.csslider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3):after,
.csslider > input:nth-of-type(4):checked ~ .navigation label:nth-of-type(4):after,
.csslider > input:nth-of-type(5):checked ~ .navigation label:nth-of-type(5):after,
.csslider > input:nth-of-type(6):checked ~ .navigation label:nth-of-type(6):after,
.csslider > input:nth-of-type(7):checked ~ .navigation label:nth-of-type(7):after,
.csslider > input:nth-of-type(8):checked ~ .navigation label:nth-of-type(8):after,
.csslider > input:nth-of-type(9):checked ~ .navigation label:nth-of-type(9):after,
.csslider > input:nth-of-type(10):checked ~ .navigation label:nth-of-type(10):after,
.csslider > input:nth-of-type(11):checked ~ .navigation label:nth-of-type(11):after {
  opacity: 1;
}
.csslider > .arrows {
  position: absolute;
  left: 28px;
  top: 50%;
  width: 95%;
  height: 26px;
  z-index: 2;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.csslider > .arrows label {
  display: none;
  position: absolute;
  top: -50%;
  padding: 13px;
  box-shadow: inset 2px -2px 0 1px #3A3A3A;
  cursor: pointer;
  -moz-transition: box-shadow 0.15s, margin 0.15s;
  -o-transition: box-shadow 0.15s, margin 0.15s;
  -webkit-transition: box-shadow 0.15s, margin 0.15s;
  transition: box-shadow 0.15s, margin 0.15s;
  opacity: 0.5
}
.csslider > .arrows label:hover {
  box-shadow: inset 3px -3px 0 2px #71ad37;
  margin: 0 0px;
  opacity: 1
}
.csslider > .arrows label:before {
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  height: 300%;
  width: 300%;
}
.csslider.infinity > input:first-of-type:checked ~ .arrows label.goto-last,
.csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(0),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(1),
.csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(2),
.csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(3),
.csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(4),
.csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(5),
.csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(6),
.csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(7),
.csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(8),
.csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(9),
.csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(10) {
  display: block;
  left: 0;
  right: auto;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.csslider.infinity > input:last-of-type:checked ~ .arrows label.goto-first,
.csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(2),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(3),
.csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(4),
.csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(5),
.csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(6),
.csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(7),
.csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(8),
.csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(9),
.csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(10),
.csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(11),
.csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(12) {
  display: block;
  right: 0;
  left: auto;
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

table.gallery table.fixed {width:100%;}
table.gallery table.fixed td {
    float: left;
}

table.gallery table.fixed td:last-child {
    float: right;
}

.ppt ul.lev2 {
    position: absolute;
    display: none;
    left: 260px;
    z-index: 1;
    background: #fff;
    width: 100%;
    top: 0;
    min-height: 100%;
}


.ppt ul.lev1 {
    position: relative;
    background: #ddd;
    height: 376px;
}

.ppt ul.lev1 > li {
    border-bottom: 1px solid #fff;
}

.ppt .lev1 > li.hover > span.cnt:after {
    position: absolute;
    content: "›";
    right: 5px;
    color: red;
    font-size:18px
}
.ppt .lev1 >li.hover ul.lev2{display: block;background:#eee;}

.ppt ul.lev1 > li {
    padding-left: 36px;
    border-bottom: 1px solid #fff;
}

.ppt .div3 ul.lev1 li > a {
    font-size: 13px;
    color: #555;
}
.ppt .lev1 >li.hover ul.lev2 >li:hover ul.lev3 {display: block}
ul.lev3 {position: absolute; display: none; left: 260px; z-index: 1; background: #fff; width: 550px;top: 0;height: 100%;}